@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* FONTS */
  @font-face {
    font-family: "Dana Regular";
    src:
      local("Dana Regular"),
      url(/public/fonts/Dana/woff2/DanaFaNum-Regular.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Medium";
    src:
      local("Dana Medium"),
      url(/public/fonts/Dana/woff2/DanaFaNum-Medium.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana DemiBold";
    src:
      local("Dana DemiBold"),
      url(/public/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Light";
    src:
      local("Morabba Light"),
      url(/public/fonts/Morabba/woff2/Morabba-Light.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Medium";
    src:
      local("Morabba Medium"),
      url(/public/fonts/Morabba/woff2/Morabba-Medium.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Bold";
    src:
      local("Morabba Bold"),
      url(/public/fonts/Morabba/woff2/Morabba-Bold.woff2) format("woff2");
    font-display: swap;
  }
  /* CUSTOM SCROLLBAR */
  ::-webkit-scrollbar {
    @apply w-1.5 rounded-lg bg-gray-300 dark:bg-zinc-700;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-zinc-600 dark:bg-gray-400;
  }
  @media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
      @apply w-2 rounded-none;
    }
    ::-webkit-scrollbar-thumb {
      @apply rounded-none;
    }
  }
}

@layer utilities {
  /* FLEX CENTER */
  .flex-center {
    @apply flex items-center justify-center;
  }
  /* LTR DIRECTION */
  .ltr-text {
    direction: ltr;
    text-align: left;
  }
}

@layer components {
  /* DROPDOWN COMPONENT */
  .dropdown {
    @apply mt-3 hidden flex-col gap-y-3 pr-7 text-sm text-zinc-600 dark:text-white;
  }
  .dropdown--open {
    @apply flex;
  }
  .dropdown__item--active {
    @apply relative pr-2.5;
  }
  .dropdown__item--active::before {
    @apply absolute bottom-0 right-0 top-0 my-auto h-1 w-1 rounded-full bg-orange-300 content-[''];
  }
  /* OVERLAY COMPONENT */
  .overlay {
    @apply invisible fixed inset-0 z-10 h-full w-full bg-black/40 opacity-0 transition-all;
  }
  .overlay--visible {
    @apply visible opacity-100;
  }
  /* HOME BUTTON CIRCLE COMPONENT */
  .circle {
    @apply hidden items-center justify-center rounded-full border md:flex;
  }
  .circle--center {
    @apply absolute bottom-0 left-0 right-0 mx-auto translate-y-1/2;
  }
  .circle--lg {
    @apply size-[203px] border-white/25;
  }
  .circle--md {
    @apply size-[145px] border-white/50;
  }
  .circle--sm {
    @apply size-[95px] border-white/80;
  }
}
